// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}
.nav-holder {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(11, 11, 11, 0.76);
  box-shadow: rgba(188, 54, 54, 0.472) 0px 10px 30px -10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 85vw;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.nav-links li {
  height: 70px;
  display: flex;
  align-items: center;
  list-style: none;
  transition: all .2s ease-in;
}

.nav-links a {
  display: block;
  color: #f4f4f4;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1rem;
  transition: all .2s ease-in;
}

.nav-links a:hover{
  color: red;
}



.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f4f4f4;
  margin: 5px 0;
  transition: all 0.3s ease;
  &:hover div {
    background-color: #b4aaaa;
  }
}

///////////////////////////////////////////////////////////////
// First Section
/////////////////////
.hero-section{
  background: url(../img/background.png) no-repeat;
  display: grid;
  .wrap{
    display: grid;
    grid-template-columns: 1fr 1.15fr;
    height: 80vh;
    margin-top: 10em;

    .hero-content{
      display: grid;
      align-self: start;
      justify-content: end;
      margin-left: calc(100vw - 92vw);

      h1{
        font-size: 3.8em;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        margin-bottom: 12px;
        color: #dbdbdb;
      }

      .hero-content-p{
        font-size: 20px;
        color: #dbdbdb;
        letter-spacing: 1.3px;
        margin-bottom: 3em;
      }
      .location-icon,
      .clock-icon {
        display: grid;
        grid-template-columns: 0.5fr 4fr;
        width: 50%;
      }

      .location-icon {
        margin-bottom: 15px;
      }

      .location-icon p,
      .clock-icon p {
        font-size: 16px;
        color: #dbdbdb;
      }

      .location-icon i,
      .clock-icon {
        color: red;
        font-size: 20px;
      }
      
    }

    .hero-image{
      display: grid;
      align-items: end;
      justify-items: end;
      img{
        width: 100%;
      }
    }
  }
}

///////////////////////////////////////////////////////////////
// Second Section
/////////////////////
.services{
  .wrap{
    max-width: 90vw;
    margin: 0 auto;
    // border: 3px solid blue;
    height: 90vh;
    margin-top: calc(100vh - 90vh);

    .title-container{
      display: grid;
      justify-content: center;

      .title{
        border-bottom: 3px solid red;
        border-radius: 2px;
      }
      h2{
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 5px;
      }
    }


    .card-container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      margin-top: 5em;
    }
    .cards{
      width: 20vw;
      display: grid;
      justify-items: center;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
      img{
        object-fit: cover;
        width: 100%;
        height: 28em;
      }
      h3{
        display: grid;
        width: 100%;
        text-align: center;
        align-items: center;
        height: 4em;
        font-size: 1.3em;
        color: #f4f4f4;
        background-color: #0a3d62;
      }
      p{
        display: grid;
        align-items: center;
        text-align: center;
        font-size: 1em;
        font-weight: 300;
        width: 100%;
        height: 6em;
        background-color: green;
        color: #dbdbdb;
      }
    }
  }
}

///////////////////////////////////////////////////////////////
// Third Section
/////////////////////
.about{
  background: url(../img/background.png) no-repeat;
  .wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    width: 85vw;
    margin: 10vh auto 0 auto;

    .about-image{
      display: grid;
      align-items: center;
      width: 100%;
      img{
        width: 100%;
      }
    }

    .about-content{
      color: #f4f4f4;
      .content-container{
        display: grid;
        justify-items: center;
      }
      .title{
        border-bottom: 3px solid red;
        border-radius: 2px;
        margin-bottom: 2em;
      }
      h2{
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 5px;
      }
      p{
        font-size: 1.4em;
        letter-spacing: 1.3px;
        font-weight: 300;
      }
    }
  }
}

///////////////////////////////////////////////////////////////
// Fourth Section
/////////////////////
.contact{
  .wrap{
    width: 85vw;
    height: 80vh;
    margin: 10vh auto 0 auto;
    .title-container{
      display: grid;
      justify-content: center;
      margin-bottom: 5em;
      .title{
        border-bottom: 3px solid red;
        border-radius: 2px;
      }
      h2{
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 5px;
      }
    }

    .info-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .content-container{
      display: grid;
      h4{
        font-size: 1.4em;
        font-weight: 400;
      }
      i{
        font-weight: 600;
      }
    }
    .map-container{
      img{
        width: 100%;
      }
    }
  }
  .footer{
    background-color: black;
    height: 10vh;
    color: #f4f4f4;
    display: grid;
    justify-items: center;
    align-items: center;
    p{
      font-size: 1em;
    }
    a{
      color: #f4f4f4;
      &:hover{
        color: red;
      }
    }
  }
}

///////////////////////////////////////////////////////////////
// Screen Setup
/////////////////////

@media screen and (max-width: 1280px) {

   // First section
   .hero-section{
    .wrap{
      .hero-content{
        h1{
          font-size: 2.5em;
        }
    }
  }
}

  // Second section
  .services{
    .wrap{
      .cards{
        width: 250px;
        img{
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  // Burger Menu Setup
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 70px;
    background-color: rgb(11, 11, 11);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  // First section
  .hero-section{
    .wrap{
      grid-template-columns: 1fr;
      margin-top: 5em;
      .hero-content{
        width: 90%;
        margin: 0 auto;
        h1{
          font-size: 2.8em;
        }
        .hero-content-p{
          font-size: 1.3em;
        }
      }
      .hero-image img{
        width: 95%;
      }
    }
  }

  // Second section
  .services{
    .wrap{
      .card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
      }
      .cards{
        width: 250px;
        img{
          height: 150px;
        }
      }
    }
  }

  // Third section
  .about{
    .wrap{
      grid-template-columns: 1fr;
    }
    h2{
      font-size: 2em;
    }
    p{
      font-size: 1em;
      text-align: center;
    }
  }

  // Fourth section
  .contact{
    .wrap{
      .info-container{
        grid-template-columns: 1fr;
      }
      .content-container{
        margin-bottom: 5em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  // First section
  .hero-section{
    .wrap{
      .hero-content{
        align-self: center;
        h1{
          font-size: 2em;
        }
        .hero-content-p{
          font-size: 1.2em;
        }
      }
     .hero-image{
        display: none;
        height: 0;
      }
    }
  }

  // Second section
  .services{
    .wrap{
      display: grid;
        align-items: center;
      .title-container{
        h2{
          font-size: 2em;
        }
      }
      .card-container{
        grid-template-columns:  1fr;
        gap: 1em;
        margin-top: 3em;
      }
      .cards{
        width: 250px;
        height: auto;
        img{ 
          height: 0;
          display: none;
        }
        p{
          display: none;
        }
      }
    }
  }

   // Third section
   .about{
    .wrap{
      .about-image{
        display: none;
        height: 0;
      }
      .about-content{
        .title{
          margin-bottom: 3em;
        }
        h2{
          font-size: 2em;
        }
        p{
          font-size: 1.2em;
          text-align: justify;
        }
      }
    }
  }

  // Fourth section
  .contact{
    .wrap{
      display: grid;
      align-items: center;
      .title-container{
        margin-bottom: 3em;
        // padding-top: 5em;
        h2{
          font-size: 2em;
        }
      }
      .info-container{
        .content-container{
          margin-bottom: 3em;
          h4{
            font-size: 1.2em;
          }
        }
      }
    }
  }



}

///////////////////////////////////////////////////////////////
// Animation Setup
/////////////////////

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: 0px;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
